@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
input{
    outline: none;
    border: none;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    >.container{
        width: 70%;
        height: 500px;
        position: relative;
        border-radius: 20px;
        box-shadow: 0 15px 10px gray,
                    0 15px 10px rgb(185, 184, 184);
                    *{
        border-radius: 20px;
    transition: all 0.4s ease-in-out;
                    }
        >div:nth-of-type(1){
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 0;
            right: 0;
            >*{
                margin-bottom: 20px;
                /* border-radius: 7px; */
            }
            >h1{
                font-size: 35px;
                font-weight: bold;
            }
            >input{
                width: 250px;
                height: 40px;
                padding: 0 20px;
                background-color: rgb(226, 224, 224);
                border: 2px solid white;
            }
            >button{
                padding: 10px 30px;
                background-color: rgb(230, 86, 3);
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                padding: 10px 40px;
                }
            }
        }
        >div:nth-of-type(2){
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            position: absolute;
            top: 0;
            right: 0;
            >*{
                margin-bottom: 20px;
            }
            >h1{
                font-size: 35px;
                font-weight: bold;
            }
            >input{
                width: 250px;
                height: 40px;
                padding: 0 20px;
                background-color: rgb(226, 224, 224);
            }
            >button{
                padding: 10px 30px;
                background-color: rgb(230, 86, 3);
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    padding: 10px 40px;
                    }
            }
        }
        >div:nth-of-type(3){
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 0 20px;
            align-items: center;
            flex-direction: column;
            background-color: rgb(230, 86, 3);
            position: absolute;
            top: 0;
            right: 0;
            >*{
                margin-bottom: 20px;
            }
            >h1{
                font-size: 40px;
                font-weight: bold;
                color: white;
            }
            >h3{
                font-size: 15px;
                color: white;
            }
            >button{
                padding: 10px 30px;
                border: 1px solid white;
                background-color: transparent;
                border-radius: 20px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    padding: 10px 40px;
                    }
            }
        }
        >div:nth-of-type(4){
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            flex-direction: column;
            background-color: rgb(230, 86, 3);
            position: absolute;
            top: 0;
            right: 0;
            >*{
                margin-bottom: 20px;
            }
            >h1{
                font-size: 40px;
                font-weight: bold;
                color: white;
            }
            >h3{
                font-size: 15px;
                color: white;
            }
            >button{
                padding: 10px 30px;
                border: 1px solid white;
                background-color: transparent;
                border-radius: 20px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    padding: 10px 40px;
                    }
            }
        }
    }
}
.active {
	transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
}


.box{
    position: relative;
    width: 250px;
    height: 40px;
    >input{
        position: absolute;
        background: #E2E0E0;
        inset: 2px;
        z-index: 10;
        padding: 10px 15px;
    }
    >div{
        position: absolute;
        inset: 0;
        background: #cac9c9;
        &:nth-child(2){
            filter: blur(3px);
        }
        &:nth-child(3){
            filter: blur(7px);
        }
        &:nth-child(4){
            filter: blur(12px);
        }
    }
}

/* Parent section styles */
.profile-section {
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

@media (min-width: 768px) {
    .profile-section {
        width: 200px;
        height: 200px;
    }
}

/* Figure styles */
.profile-figure {
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {
    .profile-figure {
        width: 150px;
        height: 150px;
    }
}

/* Image styles */
.profile-image {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 64px 21px #2b6cb0;
}

/* Social links styles */
.social-link {
    display: none;
    position: absolute;
    right: 24px;
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .social-link {
        font-size: 1.875rem;
    }
}

/* Specific positioning for social links on hover */
.profile-section:hover .social-link {
    display: flex;
    color: inherit;
}

.profile-section:hover .instagram {
    right: 32px;
    top: 5px;
}

@media (min-width: 768px) {
    .profile-section:hover .instagram {
        right: 155px;
        top: 0px;
    }
}

.profile-section:hover .linkedin {
    right: 32px;
    top: 35px;
}

@media (min-width: 768px) {
    .profile-section:hover .linkedin {
        right: 155px;
        top: 35px;
    }
}

.profile-section:hover .github {
    right: 32px;
    top: 65px;
}

@media (min-width: 768px) {
    .profile-section:hover .github {
        right: 155px;
        top: 75px;
    }
}

.profile-section:hover .email {
    right: 32px;
    top: 95px;
}

@media (min-width: 768px) {
    .profile-section:hover .email {
        right: 155px;
        top: 115px;
    }
}

/* Hover effects */
.social-link:hover {
    color: #FFA500; /* hover:text-orange-500 equivalent */
}
